@font-face {
  font-family: 'Lulo Clean W01 One Bold';
  src: local('Lulo Clean W01 One Bold'), url('./fonts/FontsFree-Net-Lulo-Clean-W01-One-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Lulo Clean W01 One';
  src: local('Lulo Clean W01 One'), url('./fonts/FontsFree-Net-Lulo-Clean-W01-One.ttf') format('truetype');
}
