@tailwind base;

@tailwind components;

/* @font-face {
  font-family: 'Lulo Clean W01 One Bold';
  src: local('Lulo Clean W01 One Bold'), url('../fonts/FontsFree-Net-Lulo-Clean-W01-One-Bold.ttf') format('truetype');
} */

@font-face {
  font-family: 'Lulo Clean One Bold';
  src: local('Lulo Clean One Bold'), url('../fonts/Lulo-Clean-One-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Futura PT Medium';
  src: url('../fonts/FuturaPTMedium.otf') format('opentype');
}

@font-face {
  font-family: 'Futura PT Medium Oblique';
  src: url('../fonts/FuturaPTMediumOblique.otf') format('opentype');
}

@font-face {
  font-family: 'Futura PT Light';
  src: url('../fonts/FuturaPTLight.otf') format('opentype');
}

@font-face {
  font-family: 'Futura PT Light Oblique';
  src: url('../fonts/FuturaPTLightOblique.otf') format('opentype');
}


/* @font-face {
  font-family: 'Lulo Clean W01 One';
  src: local('Lulo Clean W01 One'), url('../fonts/FontsFree-Net-Lulo-Clean-W01-One.ttf') format('truetype');
} */

.handles-bg {
  background-image: url('https://res.cloudinary.com/extend-pua/image/upload/f_auto,q_auto,w_auto/v1604685036/brand/Handles_BG-01_gtltve.png')
}

.bg-image-masks {
  background-image: url('https://static.wixstatic.com/media/11062b_49bd140ff6034d019057a7dddc081e2c~mv2.jpg/v1/fill/w_1920,h_1280,al_t,q_85,usm_0.66_1.00_0.01/11062b_49bd140ff6034d019057a7dddc081e2c~mv2.jpg');
}

.switch__knob:before {
  content: attr(content-off);
  top: 3px;
  left: 4px;
  right: auto;
  padding: 5px 0px;
  @apply absolute;
  @apply w-10;
  @apply text-sm;
  @apply font-bold;
  @apply text-center;
  @apply leading-none;
  @apply text-gray-700;
  @apply bg-gray-400;
  @apply rounded-full;
  @apply transition-all;
  @apply duration-300;
  @apply ease-in-out;
}

.switch__knob--small:before {
  padding: 1px 0px;
}

.switch__knob--large:before {
  padding: 9px 0px;
}

.switch__input:checked + .switch__knob:before {
  content: attr(content-on);
  /* knob is 40px wide, so equivalent to `right: 4px;` but this applies the transition */
  left: calc(100% - 44px);
  @apply bg-brand-blue;
  @apply text-white;
}

.tooltip .tooltip-text {
  visibility: hidden;
  text-align: center;
  padding: 2px 6px;
  position: absolute;
  z-index: 100;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.congress-person-card {
  /* height: 460px; */
}

@tailwind utilities;
